[Unit]
Description=Guide application installer control
After=guide-supervisor0.socket
[Socket]
ListenSequentialPacket=/run/guideos/installer/control.sock
SocketMode=0600
DirectoryMode=0755
RemoveOnStop=yes
[Install]
WantedBy=sockets.target
