* text=auto

# Build and Linux system files must retain Unix line endings.
*.in text eol=lf
*.mk text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.lock text eol=lf
*.conf text eol=lf
*.cfg text eol=lf
*.fragment text eol=lf
*_defconfig text eol=lf
*.dts text eol=lf
*.patch text eol=lf
*.sh text eol=lf
*.patch whitespace=-blank-at-eol,-space-before-tab
*.py text eol=lf
*.ps1 text eol=lf
.gitignore text eol=lf
GuideOS/board/common/rootfs-overlay/etc/** text eol=lf
GuideOS/board/rg35xxh/prototype-overlay/etc/** text eol=lf

# Generated design concepts are binary.
*.png binary
