Port 2222
AddressFamily inet
ListenAddress 0.0.0.0
HostKey /etc/guideos/deploy/ssh_host_ed25519_key
PidFile /run/guideos-deploy/sshd.pid
AuthorizedKeysFile /etc/guideos/deploy/authorized_keys
AllowUsers guide-deploy
AuthenticationMethods publickey
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitRootLogin no
PermitEmptyPasswords no
UsePAM yes
StrictModes yes
DisableForwarding yes
PermitTTY no
PermitUserRC no
PermitUserEnvironment no
X11Forwarding no
MaxAuthTries 3
MaxSessions 1
MaxStartups 2:50:4
LoginGraceTime 15
ClientAliveInterval 30
ClientAliveCountMax 2
ForceCommand /usr/bin/python3 /usr/lib/guideos/deploy/ssh_gateway.py
LogLevel ERROR
